<div class="dt w-100 bb b--black-05 pa2">
  <div class="dtc v-mid">
    <div class="f6 fw4 mt0 mb0 black-60">Name</div>
    <div class="f6 f5-ns fw6 lh-title black mv0"><%= @user.name %></div>
  </div>
  <div class="dtc w2 w3-ns v-mid">
    <img
      src={@user.avatar}
      class="ba b--black-10 db br-100 w2 w3-ns h2 h3-ns"
    />
  </div>
</div>
