<div class="flex w-100">
  <.info>
    <:title>Name</:title>
    <:info><%= @user.name %></:info>
  </.info>
  <.avatar src={@user.avatar} class="w3-ns h3-ns" />
</div>
<div class="flex w-100">
  <.info>
    <:title>Email</:title>
    <:info><%= @user.email %></:info>
  </.info>
</div>
