<.tab class="justify-between">
  <.info>
    <:title>Name</:title>
    <:info>{@user.name}</:info>
  </.info>
  <.avatar src={@user.avatar} />
</.tab>
<.tab>
  <.info>
    <:title>Email</:title>
    <:info>{@user.email}</:info>
  </.info>
</.tab>
<%= live_render(@socket, RunaWeb.Live.Token.Index, id: "api_keys") %>
