<div>
  <%= if @current_user do %>
    <.link href={~p"/"}>Home</.link>
    <.link href={~p"/logout"}>Logout</.link>
  <% else %>
    <.link href={~p"/"}>Home</.link>
    <.link href={~p"/auth/auth0"}>Login</.link>
  <% end %>
  <div>
    <p>Runa</p>
    <p>
      Cloud-based localization management system for your web and mobile apps,
      games and digital content.
    </p>
  </div>
</div>
