<div>
  <p>Hello,</p>
  <p>You have been invited to join the team as a {@role}.</p>
  <p>Please accept your invitation by clicking the link below:</p>
  <p><a href={@acceptance_url}>Accept Invitation</a></p>
  <p>Best regards,<br /> The {@app_name} Team</p>
</div>
