<.flash_group flash={@flash} />
<div class="grid grid-cols-[16rem_1fr] min-h-screen bg-background-alt box-border p-2 gap-2">
  {live_render(@socket, RunaWeb.Live.Sidebar,
    id: "sidebar",
    container: {:div, class: "contents"}
  )}
  <article class="grid grid-cols-[repeat(auto-fit,_minmax(200px,_1fr))] gap-2">
    {@inner_content}
  </article>
</div>
