@tailwind base;
@tailwind components;
@tailwind utilities;

header,
body {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

@layer base {
  :root {
    --text: var(--text-100);
    --text-50: #15181e;
    --text-100: #2b303b;
    --text-200: #404859;
    --text-300: #566176;
    --text-400: #6b7994;
    --text-500: #8994a9;
    --text-600: #a6aebf;
    --text-700: #c4c9d4;
    --text-800: #e1e4ea;
    --text-900: #f0f2f4;
    --text-950: #f8fafc;

    --background: var(--background-100);
    --background-50: #ffffff;
    --background-100: #f8f9fb;
    --background-200: #f1f3f6;
    --background-300: #e4e7ed;
    --background-400: #d1d5dc;
    --background-500: #b0b7c3;
    --background-600: #8e97a6;
    --background-700: #6b7585;
    --background-800: #4a5261;
    --background-900: #2f3541;
    --background-950: #1d2027;

    --primary: var(--primary-100);
    --primary-50: #edf2f8;
    --primary-100: #dae5f1;
    --primary-200: #b6cbe2;
    --primary-300: #91b0d4;
    --primary-400: #6c96c6;
    --primary-500: #477cb8;
    --primary-600: #396393;
    --primary-700: #2b4a6e;
    --primary-800: #1d3249;
    --primary-900: #0e1925;
    --primary-950: #070c12;

    --secondary: var(--secondary-50);
    --secondary-50: #eff1f5;
    --secondary-100: #e0e4eb;
    --secondary-200: #c1c9d7;
    --secondary-300: #a2adc3;
    --secondary-400: #8392af;
    --secondary-500: #63779c;
    --secondary-600: #505f7c;
    --secondary-700: #3c475d;
    --secondary-800: #28303e;
    --secondary-900: #14181f;
    --secondary-950: #0a0c10;

    --accent: var(--accent-100);
    --accent-50: #ffffff;
    --accent-100: #e3e9fc;
    --accent-200: #d1d9f8;
    --accent-300: #bfc9f4;
    --accent-400: #adb9f0;
    --accent-500: #9ba9ec;
    --accent-600: #8999e8;
    --accent-700: #7789e4;
    --accent-800: #6579e0;
    --accent-900: #5369dc;
    --accent-950: #4159d8;

    --error: var(--error-100);
    --error-50: #f8edee;
    --error-100: #f0dbdd;
    --error-200: #e1b7bb;
    --error-300: #d39299;
    --error-400: #c46e77;
    --error-500: #b54a55;
    --error-600: #913b44;
    --error-700: #6d2c33;
    --error-800: #481e22;
    --error-900: #240f11;
    --error-950: #120708;

    --danger: var(--danger-100);
    --danger-50: #f9efec;
    --danger-100: #f3dfd8;
    --danger-200: #e6beb2;
    --danger-300: #da9e8b;
    --danger-400: #cd7d65;
    --danger-500: #c15d3e;
    --danger-600: #9a4a32;
    --danger-700: #743825;
    --danger-800: #4d2519;
    --danger-900: #27130c;
    --danger-950: #130906;

    --warning: var(--warning-100);
    --warning-50: #fbf5e9;
    --warning-100: #f8ecd3;
    --warning-200: #f0d8a8;
    --warning-300: #e9c57c;
    --warning-400: #e1b151;
    --warning-500: #da9e25;
    --warning-600: #ae7e1e;
    --warning-700: #835f16;
    --warning-800: #573f0f;
    --warning-900: #2c2007;
    --warning-950: #161004;

    --success: var(--success-100);
    --success-50: #f2f6ef;
    --success-100: #e5edde;
    --success-200: #ccdabe;
    --success-300: #b2c89d;
    --success-400: #98b67c;
    --success-500: #7ea35c;
    --success-600: #658349;
    --success-700: #4c6237;
    --success-800: #334125;
    --success-900: #192112;
    --success-950: #0d1009;

    --info: var(--info-100);
    --info-50: #f5f0f4;
    --info-100: #ebe0e9;
    --info-200: #d6c2d2;
    --info-300: #c2a3bc;
    --info-400: #ad85a6;
    --info-500: #996690;
    --info-600: #7a5273;
    --info-700: #5c3d56;
    --info-800: #3d2939;
    --info-900: #1f141d;
    --info-950: #0f0a0e;
  }

  .dark {
    --text: var(--text-100);
    --text-50: #f8fafc;
    --text-100: #f0f2f4;
    --text-200: #e1e4ea;
    --text-300: #c4c9d4;
    --text-400: #a6aebf;
    --text-500: #8994a9;
    --text-600: #6b7994;
    --text-700: #566176;
    --text-800: #404859;
    --text-900: #2b303b;
    --text-950: #15181e;

    --background: var(--background-50);
    --background-50: #1d2027;
    --background-100: #2f3541;
    --background-200: #4a5261;
    --background-300: #6b7585;
    --background-400: #8e97a6;
    --background-500: #b0b7c3;
    --background-600: #d1d5dc;
    --background-700: #e4e7ed;
    --background-800: #f1f3f6;
    --background-900: #f8f9fb;
    --background-950: #ffffff;

    --primary: var(--primary-100);
    --primary-50: #070c12;
    --primary-100: #0e1925;
    --primary-200: #1d3249;
    --primary-300: #2b4a6e;
    --primary-400: #396393;
    --primary-500: #477cb8;
    --primary-600: #6c96c6;
    --primary-700: #91b0d4;
    --primary-800: #b6cbe2;
    --primary-900: #dae5f1;
    --primary-950: #edf2f8;

    --secondary: var(--secondary-50);
    --secondary-50: #0a0c10;
    --secondary-100: #14181f;
    --secondary-200: #28303e;
    --secondary-300: #3c475d;
    --secondary-400: #505f7c;
    --secondary-500: #63779c;
    --secondary-600: #8392af;
    --secondary-700: #a2adc3;
    --secondary-800: #c1c9d7;
    --secondary-900: #e0e4eb;
    --secondary-950: #eff1f5;

    --accent: var(--accent-100);
    --accent-50: #4159d8;
    --accent-100: #5369dc;
    --accent-200: #6579e0;
    --accent-300: #7789e4;
    --accent-400: #8999e8;
    --accent-500: #9ba9ec;
    --accent-600: #adb9f0;
    --accent-700: #bfc9f4;
    --accent-800: #d1d9f8;
    --accent-900: #e3e9fc;
    --accent-950: #ffffff;

    --error: var(--error-100);
    --error-50: #120708;
    --error-100: #240f11;
    --error-200: #481e22;
    --error-300: #6d2c33;
    --error-400: #913b44;
    --error-500: #b54a55;
    --error-600: #c46e77;
    --error-700: #d39299;
    --error-800: #e1b7bb;
    --error-900: #f0dbdd;
    --error-950: #f8edee;

    --danger: var(--danger-100);
    --danger-50: #130906;
    --danger-100: #27130c;
    --danger-200: #4d2519;
    --danger-300: #743825;
    --danger-400: #9a4a32;
    --danger-500: #c15d3e;
    --danger-600: #cd7d65;
    --danger-700: #da9e8b;
    --danger-800: #e6beb2;
    --danger-900: #f3dfd8;
    --danger-950: #f9efec;

    --warning: var(--warning-100);
    --warning-50: #161004;
    --warning-100: #2c2007;
    --warning-200: #573f0f;
    --warning-300: #835f16;
    --warning-400: #ae7e1e;
    --warning-500: #da9e25;
    --warning-600: #e1b151;
    --warning-700: #e9c57c;
    --warning-800: #f0d8a8;
    --warning-900: #f8ecd3;
    --warning-950: #fbf5e9;

    --success: var(--success-100);
    --success-50: #0d1009;
    --success-100: #192112;
    --success-200: #334125;
    --success-300: #4c6237;
    --success-400: #658349;
    --success-500: #7ea35c;
    --success-600: #98b67c;
    --success-700: #b2c89d;
    --success-800: #ccdabe;
    --success-900: #e5edde;
    --success-950: #f2f6ef;

    --info: var(--info-100);
    --info-50: #0f0a0e;
    --info-100: #1f141d;
    --info-200: #3d2939;
    --info-300: #5c3d56;
    --info-400: #7a5273;
    --info-500: #996690;
    --info-600: #ad85a6;
    --info-700: #c2a3bc;
    --info-800: #d6c2d2;
    --info-900: #ebe0e9;
    --info-950: #f5f0f4;
  }
}
