@tailwind base;
@tailwind components;
@tailwind utilities;

header,
body {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

@keyframes spinner {
  to {
    transform: rotate(1turn);
  }
}

@layer components {
  h1 {
    @apply text-2xl font-semibold;
  }

  h2 {
    @apply text-xl font-semibold;
  }

  h3 {
    @apply text-lg font-semibold;
  }

  h4 {
    @apply text-base font-semibold;
  }

  h5 {
    @apply text-sm font-semibold;
  }

  h6 {
    @apply text-xs font-semibold;
  }

  .spinner {
    --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
    mask: var(--_m);
    -webkit-mask-composite: source-out;
    mask-composite: subtract;
    animation: spinner 1s infinite linear;
  }

  .icon {
    -webkit-mask: var(--icon-url) no-repeat;
    mask: var(--icon-url) no-repeat;
    background-color: currentColor;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-size: contain;
    mask-size: contain;
  }

  .transition {
    @apply transition-all transform ease-out duration-300;
  }

  .transition-100 {
    @apply opacity-100 translate-y-0 sm:scale-100;
  }

  .transition-0 {
    @apply opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95;
  }

  .underlined {
    @apply relative;
    @apply after:content-[''];
    @apply after:block;
    @apply after:h-0.5;
    @apply after:w-full;
    /* @apply after:bg-accent; */
    @apply after:absolute;
    @apply after:bottom-0;
    @apply after:left-0;
  }
}
